
/* Select Table */

.entire-table {
    margin-top: 1rem;
    margin-left: 15%;
    margin-right: 12%;
    border-collapse:collapse;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.news-tr {
    background-color: #ebebeb;
    margin-top: 2%;
    margin-bottom: 2%;
}

a { 
    text-decoration: none; 
    color: white; 
}
a:visited { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: none; 
}
a:focus { 
    text-decoration: none; 
}
a:hover, a:active { 
    text-decoration: none; 
}

.table-title {
    background-color: #00598D;
    max-height: 100;
    color: white;
    font-size: 1.2rem;
    text-align: right;
    padding-right: 3%;
}

.table-content-title {
    width: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.button-press{
    float: left;
}

input{
    margin-top: 1.5%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.button-press > button {
    max-width: 11%;
    border: 0;
    outline: 0;
    background-color: transparent !important;
    cursor: pointer;
    margin-top: 0.5%;
    margin-right: 2%;
    margin-bottom: 0.5%;
}


.button-press > button > img {
    width: 100%;
    max-width: 100%;
}

/* News List */
.aggregate {
    font-size: 0.9rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.newsinfo {
    margin-left: 5%;
    padding: 0.5%;
    margin-bottom: 1%;
}

.news-thumbnail {
    display: inline-block;
    max-width: 13%;
    vertical-align: top;
}

.news-content {
    display: inline-block;
    font-size: 1rem;
    margin-left: 1%;
    max-width: 80%;
}

.news-keyword {
    display: inline-block;
    color: #4db2ec;
}

.newslist-press {
    width: 10px;
}