/* news list */
.app {
    width: 65%;
    margin-top: 2%;
    margin-left: 20%;
}

.right-aggregate {
    display: inline-block;
    font-size: 0.75rem;
    text-align: left;
    margin-left: 2%;
    color: #9D9D9D;
}

.right-news-list {
    width: 85%;
    margin-left: 7%;
}

.right-news-title{
    display: inline;
    color: black;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
}

.topnews-info {
    margin-top: 3%;
    cursor:pointer;
}

.topnews-content_id {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 3%;
    width: 3%;
    max-width: 3%;
}

.topnews-content_title {
    display: inline-block;
    font-size: 1rem;
    width: 65%;
    margin-left: 2%;
}

.topnews-thumbnail {
    display: inline-block;
    margin-left: 1%;
    margin-right: 4%;
    width: 180px;
    height: 100px;
    object-fit: contain;
    vertical-align: middle;
}

.more {
    display: block;
    text-align: right;
    font-weight: bold;
    color: #B6B6B6;
    clear: both;
    margin-top: 5%;
    margin-bottom: 7%;
}