table {
    margin-top: 1rem;
    margin-left: 12%;
    margin-right: 9%;
    border-collapse:collapse;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}

tr {
    background-color: #ebebeb;
}

a { 
    text-decoration: none; 
    color: white; 
}
a:visited { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: none; 
}
a:focus { 
    text-decoration: none; 
}
a:hover, a:active { 
    text-decoration: none; 
}


.table-title {
    background-color: #00598D;
    max-height: 100;
    color: white;
    font-size: 1.2rem;
    text-align: right;
    padding-right: 3%;
}

.table-content-title {
    width: 15%;
}

.table-content-content {
}

.button-press{
    float: left;
}

img {
    max-width: 160%;
}

button {
    max-width: 10%;
    border: 0;
    outline: 0;
    background-color: transparent !important;
    cursor: pointer;
    margin-right: 4%;
}
